<div class="list row">
  <div class="col-md-8">
    <div class="input-group mb-3">
      <input
        type="text"
        class="form-control"
        placeholder="Search by Username"
        [(ngModel)]="filtering.username"
      />
      <div class="input-group-append">
        <button
          class="btn btn-outline-secondary"
          (click)="getAllData()"
        >
          Search
        </button>
      </div>
    </div>
  </div>
  <div class="col-md-8">
    <app-employee-items-per-page
      [itemsPerPageOptions]="filtering.itemsPerPageOptions"
      [itemsPerPage]="filtering.itemsPerPage"
      (itemsPerPageChange)="onItemsPerPageChange($event)">
    </app-employee-items-per-page>
  </div>
  
  <div class="col-md-12">
    <h4>Employee List</h4>
    <ul class="list-group mb-3">
      <li
        class="list-group-item"
        *ngFor="let employe of paginatedEmployees; let i = index"
      >
       {{ employe.username }}
       <div class="col-md-12">
        <div class="d-flex justify-content-between align-items-center mb-3">
            <button class="btn btn-primary" (click)="editData(employe.id)">Edit</button>
            <button class="btn btn-danger" (click)="deleteData(employe.id)">Delete</button>
            <button class="btn btn-secondary" (click)="detailPage(employe.id)">See Details</button>
        </div>
      </div>
    
      </li>
    </ul>
    <app-employee-pagination
      [currentPage]="filtering.currentPage"
      [totalPages]="filtering.itemsPerPage"
      [totalPagesArray]="filtering.totalPagesArray"
      (pageChange)="onPageChange($event)">
    </app-employee-pagination>
  </div>
</div>
