<div class="col-md-12">
    <h5>Items per Page:</h5>
    <div class="input-group mb-3">
        <select class="form-select " (change)="onItemsPerPageChange($event)">
            <option *ngFor="let option of itemsPerPageOptions" [value]="option" [selected]="itemsPerPage === option">{{ option }}</option>
        </select>
    </div>
</div>
