<div *ngIf="totalPagesArray.length > 1">
    <nav>
        <ul class="pagination justify-content-center">
            <li class="page-item" *ngFor="let page of totalPagesArray">
                <a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
            </li>
        </ul>
    </nav>
</div>
