<form [formGroup]="loginForm" (ngSubmit)="login()">
    <div>
      <label for="username">Username:</label>
      <input type="text" id="username" formControlName="username">
      <div *ngIf="loginForm.get('username')?.invalid && (loginForm.get('username')?.dirty || loginForm.get('username')?.touched)" class="error-message">
        <div *ngIf="loginForm.get('username')?.hasError('required')">Username is required.</div>
        <div *ngIf="loginForm.get('username')?.hasError('minlength')">Username must be at least 3 characters long.</div>
      </div>
    </div>
    <div class="mt-4">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password">
      <div *ngIf="loginForm.get('password')?.invalid && (loginForm.get('password')?.dirty || loginForm.get('password')?.touched)" class="error-message">
        <div *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</div>
        <div *ngIf="loginForm.get('password')?.hasError('minlength')">Password must be at least 7 characters long.</div>
        <div *ngIf="loginForm.get('password')?.hasError('pattern')">Password must contain at least one letter, one number, and one symbol.</div>
      </div>
    </div>
    <button type="submit" [disabled]="loginForm.invalid" class="mt-4">Login</button>
  </form>
  