<form [formGroup]="formData" (ngSubmit)="onSubmit()">
    <div class="mb-3">
      <label>Username:</label>
      <input type="text" class="form-control"  formControlName="name" name="name" required>
      <div *ngIf="formData.get('name')?.hasError('required') && formData.get('name')?.touched">
        Username is required.
      </div>
    </div>
    <div class="mb-3">
      <label>Birthdate:</label>
      <input type="date" id="birthdate" class="form-control" formControlName="birthdate" max="{{ maxDate | date: 'yyyy-MM-dd' }}">
      <div *ngIf="formData.get('birthdate')?.hasError('required') && formData.get('birthdate')?.touched">
        Birthdate is required.
      </div>
    </div>
    <div class="mb-3">
      <label>Email:</label>
      <input type="email" class="form-control" formControlName="email" name="email" required>
      <div *ngIf="formData.get('email')?.hasError('required') && formData.get('email')?.touched">
        Email is required.
      </div>
      <div *ngIf="formData.get('email')?.hasError('email') && formData.get('email')?.touched">
        Please enter a valid email.
      </div>
    </div>
    <div class="mb-3">
      <label>Basic Salary:</label>
      <input type="number" class="form-control" formControlName="basicSalary" name="basicSalary" required>
      <div *ngIf="formData.get('basicSalary')?.hasError('required') && formData.get('basicSalary')?.touched">
        Basic Salary is required.
      </div>
    </div>
    <div class="mb-3">
      <label>Group:</label>
      <div class="input-group mb-3">
        <input type="text" class="form-control" list="groupOptions" formControlName="group" [value]="groupNames[0]">
        <datalist id="groupOptions">
          <option *ngFor="let group of groupNames" [value]="group">{{ group }}</option>
        </datalist>
    </div>
    </div>
    <button type="submit" class="btn btn-secondary mx-2" (click)="route.navigate([''])">Back</button>
    <button type="submit" class="btn btn-primary" [disabled]="formData.invalid">{{ routeValue === 'edit' ? 'Update' : 'Add' }} Employee</button>
  </form>
  