.container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .detail-row {
    display: flex;
    margin-bottom: 10px;
  }
  
  .detail-label {
    font-weight: bold;
    width: 150px;
  }
  
  .detail-value {
    flex: 1;
  }
  