<div class="container">
    <h1>Employee Detail</h1>
    <div class="detail-row">
      <div class="detail-label">Username:</div>
      <div class="detail-value">{{ employeeData.username }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">First Name:</div>
      <div class="detail-value">{{ employeeData.firstName }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Last Name:</div>
      <div class="detail-value">{{ employeeData.lastName }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Email:</div>
      <div class="detail-value">{{ employeeData.email }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Birth Date:</div>
      <div class="detail-value">{{ employeeData.birthDate | date }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Basic Salary:</div>
      <div class="detail-value">{{ employeeData.basicSalary | currency }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Status:</div>
      <div class="detail-value">{{ employeeData.status }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Group:</div>
      <div class="detail-value">{{ employeeData.group }}</div>
    </div>
    <div class="detail-row">
      <div class="detail-label">Description:</div>
      <div class="detail-value">{{ employeeData.description }}</div>
    </div>
    <div class="button-row mt-2">
        <button class="btn btn-secondary mr-4" (click)="route.navigate(['']);">Back</button>
        <button class="btn btn-primary mr-4" (click)="editEmployee(employeeData.id)">Edit</button>
        <button class="btn btn-danger" (click)="deleteEmployee(employeeData.id)">Delete</button>
    </div>
  </div>
  